.banner {
    background-image: url("../../images/chocolate_banner.jpg");
    background-size: cover;
    color: white;
    background-position: center;
    padding: 200px 0;
    text-align: center;
    height: 120px;
  }
.card-center {
  display: flex;
  justify-content: space-evenly;
  box-shadow:0 1 3px grey ;
}

.card-one {
  margin:10px;
  box-shadow:0 1 3px grey ;
}
.card-two {
  margin:10px;
  box-shadow:0 1 3px grey ;
}
.card-three {
  margin:10px;
  box-shadow:0 1 3px grey ;
}
.card-one img {
  width: 100%;
  height: 150px;
}
.card-two img {
  width: 100%;
  height: 150px;
}
.card-three img {
  width: 100%;
  height: 150px;
}
.footer {
  display: flex;
  background-color: rgb(46, 38, 38);
  height: 200px;
  color: rgb(188, 160, 160);
  justify-content: center;
  text-align: center;
}
.footer i {
  width: 60px;

}
